@{
    ViewBag.Title = "Home Page";
}


<style>
    #banner {
        background: url(../../images/main-slider-img-1.jpg) no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        height: 80vh;
        min-height: 40rem;
        width: 100%;
    }

    .section-padding {
        padding: 40px 0px;
    }

    .jumbotron {
        background-color: transparent;
    }

        .jumbotron h1 {
            color: #fff;
        }

        .jumbotron p {
            color: #fff;
        }

        .jumbotron a {
            color: #2A93C9;
            background-color: #fff;
        }
</style>
<div id="banner" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1> Bringing Health </h1>
                <p>to life for the whole family</p>
                <a href="#" class="btn btn-primary">
                    Enquiry
                </a>
                <a href="#" class="btn btn-primary">
                    Book an appointment
                </a>
            </div>
        </div>
    </div>
</div>